<div class="sub-container column">            
    <div class="header">
        <h2>ID du membre : {{member.mid}}</h2>
      </div>
    <div class="info-container">
        <p><strong>Nom :</strong> {{member.nom}}</p>
        <p><strong>Prénom :</strong> {{member.prenom}}</p>
        <p><strong>Emplacement :</strong> {{member.nomemplacement}}</p>
        <p><strong>Mot de passe :</strong> {{member.mdp}}</p>
        <p><strong>Numéro :</strong> {{member.numero}}</p>
        <p><strong>Rue :</strong> {{member.rue}}</p>
        <p><strong>Ville :</strong> {{member.ville}}</p>
        <p><strong>Code postal :</strong> {{member.codepostal}}</p>
        <p><strong>Numero de compte banquaire :</strong> {{member.numerocomptebanque}}</p>
        <p><strong>Nom de la banque :</strong> {{member.nombanque}}</p>
        <p><strong>Email :</strong> {{member.addrelectronique}}</p>
        <p><strong>Âge :</strong> {{member.age}}</p>
        <p><strong>Date de l'accident récent :</strong> {{member.dernieraccident}}</p>
        <p><strong>Permis de conduire :</strong> {{member.permisconduite}}</p>

    </div> 
</div>  