.main-container{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;   
}

.header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    padding-bottom: 8px;
}