<div class="reservation">
    <div class="header">
      <h2>Numéro de réservation : {{reservation.reservationid}}</h2>
    </div>
    <div class="info-container">
      <p><strong>Début de la période :</strong> {{reservation.reservationstart}}</p>
      <p><strong>Fin de la période :</strong> {{reservation.reservationend}}</p>
      <p><strong>Requis supplémentaires :</strong> {{reservation.exigencessup}}</p>
      <p><strong>ID du véhicule réservé :</strong> {{reservation.vehiculeid}}</p>
      <p><strong>ID du membre :</strong> {{reservation.mid}}</p>
    </div>
  </div>
  
