<div class="main-container column">
    <div class="search-container">
        <label for="searchQuery">Search a member</label>
      
      <div class="box">
        <input type="text" class="input"[(ngModel)]="searchQuery" name="searchQuery" onmouseout="this.value = ''; this.blur();" (keyup.enter)="search()">
        <i class="fas fa-search"></i>
    </div>
      
    </div>
  
    <p id="label-result">Results :</p>
    <div class="result-container column">
        <div class="sub-container column" *ngFor="let member of memberResult">            
            <app-member-details [member]="member"></app-member-details>
        </div>  
    </div>
</div>
