body{
    margin: 0; 
    padding: 0;
    background: #19161c;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.box{
    position: flex;
    padding: 10px;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 4px solid #b1b0b5;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #291e4e;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: flex;
    transform: translate(-170%,0%);
    font-size: 26px;
    color: #291e4e;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#label-result {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-container {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto; 
    max-height: 600px; 
}

#label-result {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.member-column {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.member-column div {
  margin-bottom: 5px;
}

#label-result{
    font-weight: bold;
}
