/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
    --theme-purple: #56545a;
    --theme-purple-hover: #33225b33;
    --theme-purple-placeholder: #4e475ebb;
    --theme-blue: #6E9EEB;
    --theme-blue-hover: #6E9EEB33;
    --theme-blue-placeholder: #6882acbb;
    --theme-lightblue: #455f5d;
    --theme-lightblue-hover: #14F2E033;
    --theme-lightblue-placeholder: #4b807bbb;
    --theme-background: #cccccf;
}

.btn-primary{
    margin-top: 10px;
}

html {
  background-size: cover;
  
}

body {
  background-color: var(--theme-background);
}
