@import 'https://fonts.googleapis.com/css?family=Lato:400,600,700&subset=latin-ext';

body {
	background: #ececec;
	font-family: 'Lato';
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	overflow-x: hidden;
	min-width: 345px;
}
* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}
form {
	max-width: 768px;
	display: block;
	background: #162E3F;
	padding: 25px;
	margin: 40px auto;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	color: #fff;
}
fieldset {
	border: none;
	margin: 30px auto;
	legend {
		margin: 30px 0 0;
		font-size: 24px;
		font-weight: 700;
	}
}

.double-input {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.form-input-container {
    width: 35%;
    display: flex;
    flex-direction: column;
}


.form-input-container {
	label {
		display: block;
		margin-bottom: 10px;
	}
	&.date-select select {
        width: 47%;
    }
    &.date-select select:first-of-type {
        margin-right: 3%;
        padding: 14px;
    }
	select {
		width: 100%;
		color: rgb(48, 44, 44);
		background: transparent;
		border: 1px solid #a9a9a9;
		padding: 8px;
		height: 35px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
		&:focus {
			border: 1px solid #433a40;
		}
		option {
			color: black;
		}
	}
	input {
		width: 100%;
		color: rgb(93, 72, 72);
		padding: 8px;
		height: 35px;
		background: transparent;
		border: 1px solid #a9a9a9;
		&:focus {
			border: 1px solid #3f3f44;
		}
	}
}

select option:checked {
    background-color: lightgrey;
    color: black; /* Adjust text color as needed */
}

button[type="submit"] {
	height: 50px;
	width: 300px;
	background: #4c584c;
	border: none;
	cursor: pointer;
	font-size: 20px;
	line-height: 50px;
	font-family: 'Lato';
	box-shadow: 0px 0px 10px #131313;
	display: block;
	margin: 0 auto;
}